*{
    margin:0;
    padding:0;
    font-family: 'Raleway',sans-serif;
}
.main{
    position:relative;
    height:100vh;
    width:100%;
}
.main header{
    position:absolute;
    height: auto;
    width: 100%;
    background: #444;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px 0;
    top:3%;
}
.main header .logo{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    left: 15%;
    letter-spacing: 1px;
}
,main header .logo:hover{
    color:#aaa;
}
.main header p{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.9);
    left: 70%;
    letter-spacing: 1px;
}    
.main header p a{
    text-decoration: none;
    color: #ff0;
}  
.main header p a:hover{
    text-decoration: underline;
}
.main form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px 15px;
}
.main form .img{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:2% 0 0 0 ;
}
.main form input[type="text"],
.main form input[type="password"]{
    -webkit-appearance:none !important;
    position: relative;
    height: 10px;
    width: 300px;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    background: transparent;
    color:#fff;
    padding:5px 10px;
    margin:15px 0 0 0 ;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}
.main form input[type="text"]:focus,
.main form input[type="password"]:focus{
    border-color: rgba(17, 14, 14, 0.85);
}
.main form input[type="text"]::placeholder,
.main form input[type="password"]::placeholder{
    color: rgb(18, 15, 15);
}
.main form input[type="text"]:focus::placeholder,
.main form input[type="password"]:focus::placeholder{
    color:rgba(3, 0, 0, 0.5);
}
.main form input[type="submit"]{
    -webkit-appearance:none !important;
    position: relative;
    height: 35;
    width: 325px;
    background: #444;
    border: none;
    color:#fff;
    font-size:1em;
    font-weight: 500;
    cursor: pointer;
    padding:5px 10px;
    margin:15px 0 0 0 ;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
    padding:5px 0;
}
.main form input[type="submit"]:hover{
    background:#333;
}
.main form .fgtpwd{
    position: relative;
    color:#ff0;
    text-decoration:none;
    left: 15%;
    font-size: 1.2em;
    font-weight: 500;
    margin:5% 0 0 0;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}
.main form p{
    position: relative;
    color:#fff;
    font-size: 0.99em;
    font-weight: 500;
    margin:15% 0 0 0;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}
.main form p a{
    color:#017b5f;
    text-decoration:underline;
}    
.main form p a:hover{
    text-decoration:underline;
}    




